<?xml version="1.0" encoding="UTF-8"?>
        <!-- slf4j日志配置文件 -->
<configuration debug="true" scan="true" scanPeriod="30 seconds">

    <!-- 设置日志输出根目录 -->
    <property name="app.name" value="zeus"/>
    <property name="log.dir" value="${catalina.base}/logs"/>
    <property name="encoding" value="UTF-8"/>
    <property name="pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS}[%level][%thread] |  %C#%M:%L  |  %msg%n"/>
    <!--归档时间最小单位有关，保留时间-->
    <property name="log.hour.maxHistory" value="168"/>
    <property name="log.day.maxHistory" value="7"/>
    <property name="log.level" value="info"/>
    <property name="log.maxSize" value="40GB" />

    <!--console-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
    </appender>

    <!-- 只打印 INFO 级别以上的信息-->
    <appender name="info_appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>${log.dir}/info.log</file>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <param name="fileNamePattern" value="${log.dir}/info-%d{yyyy-MM-dd_HH}.log"/>
            <param name="maxHistory" value="${log.hour.maxHistory}"/>
            <param name="totalSizeCap" value="${log.maxSize}"/>
        </rollingPolicy>
    </appender>

    <!-- 只打印 ERROR 级别以上的信息 -->
    <appender name="error_appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--高于此级别的日志才打印-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <File>${log.dir}/error.log</File>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <param name="fileNamePattern" value="${log.dir}/error-%d{yyyy-MM-dd_HH}.log"/>
            <param name="maxHistory" value="${log.hour.maxHistory}"/>
            <param name="totalSizeCap" value="${log.maxSize}"/>
        </rollingPolicy>
    </appender>

    <appender name="dbAccessAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">>
        <file>${log.dir}/dbsource.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <param name="fileNamePattern" value="${log.dir}/dbsource-%d{yyyy-MM-dd}.log"/>
            <param name="maxHistory" value="${log.day.maxHistory}"/>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="redisAccessAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">>
        <file>${log.dir}/redis.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <param name="fileNamePattern" value="${log.dir}/redis-%d{yyyy-MM-dd}.log"/>
            <param name="maxHistory" value="${log.day.maxHistory}"/>
        </rollingPolicy>
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <!-- 线程池监控日志 -->
    <appender name="threadPoolAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/threadPool.log</file>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <param name="fileNamePattern" value="${log.dir}/threadPool-%d{yyyy-MM-dd_HH}.log"/>
            <param name="maxHistory" value="${log.hour.maxHistory}"/>
            <param name="totalSizeCap" value="${log.maxSize}"/>
        </rollingPolicy>
    </appender>

    <!--自定义logger-->
    <logger name="com.atlantis.zeus.base.db" level="warn" additivity="false">
        <level value="INFO" />
        <appender-ref ref="dbAccessAppender" />
    </logger>

    <logger name="threadPool" level="info" additivity="false">
        <appender-ref ref="threadPoolAppender"/>
    </logger>

<!--    <logger name="com.xupt.redis.storage" level="warn" additivity="false">-->
<!--        <level value="INFO" />-->
<!--        <appender-ref ref="redisAccessAppender" />-->
<!--    </logger>-->

    <logger name="com.atlantis" additivity="false">
        <appender-ref ref="info_appender" />
        <appender-ref ref="error_appender" />
    </logger>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>