<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atlantis.zeus.index.dao.readonly.CommonReadMapper">

    <select id="queryCount" resultType="java.lang.Integer">
        SELECT count(*)
        FROM ${tableName}
        WHERE ${where}
    </select>

    <select id="query" resultType="java.util.Map">
        SELECT
        <foreach collection="fields" item="item" separator=",">
            ${item}
        </foreach>
        FROM ${tableName}
        WHERE ${where} limit ${pageSize} offset ${offset}
    </select>



</mapper>