<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atlantis.zeus.index.dao.rw.StudentInfoMapper">

    <sql id="fields">
        `id` as id,
        `stu_global_key` as stuGlobalKey,
        `name` as name,
        `sex` as sex,
        `age` as age,
        `create_time` as createTime,
        `update_time` as updateTime
    </sql>

    <insert id="insertStudentInfo" parameterType="com.atlantis.zeus.index.pojo.entity.StudentInfoDO">
       INSERT INTO local_student_info
       <trim prefix = "(" suffix = ")" suffixOverrides = ",">
            <if test = "student.stuGlobalKey != null and student.stuGlobalKey != ''">
                stu_global_key,
            </if>
            <if test = "student.name != null and student.name != ''">
                `name`,
            </if>
            <if test = "student.sex != null">
                sex,
            </if>
            <if test = "student.age != null">
                age,
            </if>
       </trim>
       VALUES
       <trim prefix = "(" suffix = ")" suffixOverrides = ",">
           <if test = "student.stuGlobalKey != null and student.stuGlobalKey != ''">
               #{student.stuGlobalKey},
           </if>
           <if test = "student.name != null and student.name != ''">
               #{student.name},
           </if>
           <if test = "student.sex != null">
               #{student.sex},
           </if>
           <if test = "student.age != null">
               #{student.age},
           </if>
       </trim>
    </insert>

    <insert id="insertBatchStudent" parameterType="java.util.List">
        INSERT INTO local_student_info
        (
            stu_global_key,
            `name`,
            sex,
            age
        ) VALUES
        <foreach index = "index" item = "item" collection = "list" separator = ",">
        (
            #{student.stuGlobalKey},
            #{student.name},
            #{student.sex},
            #{sutdnet.age}
        )
        </foreach>
    </insert>

    <update id="update" parameterType="com.atlantis.zeus.index.pojo.entity.StudentInfoDO">
        UPDATE local_student_info
        <set>
            <if test = "stuGlobalKey != null ">
                stu_global_key = #{stuGlobalKey},
            </if>
            <if test = "name != null ">
                `name` = #{name},
            </if>
            <if test = "classId != null ">
                class_id = #{classId},
            </if>
            <if test = "sex != null ">
                sex = #{sex},
            </if>
            <if test = "age != null ">
                age = #{age},
            </if>
        </set>
        WHERE id= #{id}
    </update>

    <!-- 批量编辑 -->
    <update id="updateBatch" parameterType="com.atlantis.zeus.index.pojo.entity.StudentInfoDO">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            UPDATE local_student_info
            <set>
                <if test = "item.stuGlobalKey != null ">
                    stu_global_key = #{item.stuGlobalKey},
                </if>
                <if test = "item.name != null ">
                    `name` = #{item.name},
                </if>
                <if test = "item.classId != null ">
                    class_id = #{item.classId},
                </if>
                <if test = "item.sex != null ">
                    sex = #{item.sex},
                </if>
                <if test = "item.age != null ">
                    age = #{item.age},
                </if>
            </set>
            WHERE = #{item.id}
        </foreach>
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM local_student_info
        <if test = "id != null ">
            WHERE id= #{id}
        </if>
    </delete>

</mapper>