<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atlantis.zeus.index.dao.readonly.StudentInfoReadMapper">

    <sql id="fields">
        `stu_global_key` as stuGlobalKey,
        `name` as name,
        `sex` as sex,
        `age` as age,
        `create_time` as createTime,
        `update_time` as updateTime
    </sql>

    <resultMap id="stu" type="com.atlantis.zeus.index.pojo.StudentInfoDO">
        <result property="stuGlobalKey" column="stu_global_key"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
    </resultMap>

    <resultMap id="score" type="com.atlantis.zeus.index.pojo.Score" extends="stu">
        <result property="stuGlobalKey" column="stu_global_key"/>
        <result property="math" column="math"/>
        <result property="english" column="english"/>
        <result property="chinese" column="chinese"/>
    </resultMap>

    <!-- 查询数量公共sql -->
    <select id="studentCount" resultType="long">
		SELECT count(*)
		FROM local_student_info
	</select>

    <select id="queryById" resultType="com.atlantis.zeus.index.pojo.StudentInfoDO" parameterType="java.lang.Integer">
        SELECT <include refid="fields"/>
        FROM local_student_info
        WHERE id = #{id}
    </select>

    <select id="queryStudentInfoById" resultType="java.util.Map" parameterType="java.util.List">
        SELECT <include refid="fields"/>
        FROM local_student_info
        <where>
            <if test="ids != null and ids.size() > 0">
                stu_global_key IN
                <foreach collection="ids" separator="," open="(" close=")" item="item">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryStuScoreById" parameterType="java.lang.String" resultMap="score">
        SELECT stu.`stu_global_key`, stu.`name`, `math`, `english`, `chinese`
        FROM local_student_info as stu
        LEFT JOIN local_student_score  as score
        ON stu.stu_global_key = score.stu_global_key
        <where>
            <if test="globalKey != null and globalKey.length() > 0">
                stu.stu_global_key = #{globalKey}
            </if>
        </where>
    </select>

</mapper>